

#navbar_brand{
	margin-left: 0;
}

.navbar-search{
	margin-right: 20px;
}

.list_container{
	width: 100%;
	padding: 20px;
}

.buy_btn {
	position: relative;
	top: -80px;
	float: right;
	margin-right: 20px;
}

.post_btn {
	position: relative;
	top: -110px;
	float: right;
	margin-right: 20px;
}

#sell{
	display: none;
}

#buy{
	display: block;
}

#book_search{
	margin-top: 40px;
	display: block;
	padding: 10px;
	padding-left: 20px;
}

#list_thumbnails_sell {
	width: 100%;
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

#list_thumbnails_buy {
	width: 100%;
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

#list_thumbnails_input {
	width: 100%;
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.list_thumbnails:before,
.list_thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.left_buffer{
	margin-left: 10px;
}

.right_text{
	text-align: right;
}

.input_buffer{
	margin: 8px;
}

.input_price_buffer{
	margin-right: 16px;
}

.list_thumbnail {
	margin: 20px;
	min-height: 100px;
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.post_container{
	min-height: 160px;
	position: relative;
	top: 10px;
}

a.list_thumbnail:hover,
a.list_thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.list_thumbnail > img {
	float: left;
  display: block;
  max-width: 100%;
  margin-right: 20px;
  margin-left: auto;
}

.list_thumbnail .caption {
  padding: 9px;
  color: #555555;
}

