.title{
  line-height: 24px;
}

.bookPic{
  float: left;
  width: 80px;
  height: 100px;
}

.bookPic img{
  max-width:100%;
  max-height: 100%;
}

.info1{
  margin-left: 10px;
  display: inline-block;
  max-width: 600px;
}

.conditionList{
  margin-top: 10px;
  margin-right: 150px;
  float: right;
  display: inline-block;
}

.conditionListSell{
  margin-top: 10px;
  margin-right: 40px;
  float: right;
  display: inline-block;
}

.buy_btn {
  float: right;
  margin-right: 10px;
  display: inline-block;
}
#isbnForm{
  margin-left: 7px;
  margin-top: 5px;
  display: inline-block;
}

#conditionReport{
  display: inline-block;
  float: right;
  margin-right: 100px;
  margin-top: -30px;
  width: 150px;

}

#infoInput{
  display: inline-block;
}

#navbar_brand{
	margin-left: 0;
}

.navbar-search{
	margin-right: 20px;
}

.list_container{
	width: 100%;
	padding: 20px;
  margin-bottom: 100px;
}

.post_btn {
  display: inline-block;
	float: right;
	margin-right: 20px;
  margin-top: -10px;
}

#sell{
	display: none;
}

#buy{
	display: block;
}

#book_search{
	margin-top: 40px;
	display: block;
	padding: 10px;
	padding-left: 20px;
}

#list_thumbnails_sell {
	width: 100%;
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

#list_thumbnails_buy {
	width: 100%;
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

#list_thumbnails_input {
	width: 100%;
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.list_thumbnails:before,
.list_thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.left_buffer{
	margin-left: 10px;
}

.right_text{
	text-align: right;
}

.input_buffer{
	margin: 8px;
}

.input_price_buffer{
	margin-right: 16px;
}

.list_thumbnail {
	margin: 20px;
	min-height: 100px;
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.post_container{
	min-height: 160px;
	position: relative;
	top: 10px;
}

a.list_thumbnail:hover,
a.list_thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.list_thumbnail > img {
	float: left;
  display: block;
  max-width: 100%;
  margin-right: 20px;
  margin-left: auto;
}

.list_thumbnail .caption {
  padding: 9px;
  color: #555555;
}

#checkbox {
  color: #FF0000;
  background-color: #FF0000;
}

/*Login page*/

#login_box {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   width: 300px;
   height: 250px; 
}

#login_brand {
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
}

#signin_button { 
}

#remember_checkbox{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

div.control-group {
  margin: 0 auto;
  width: 220px;
}

#login_form { 
  position: relative;
  top: 20px;
  }

/*Create an account*/

#newuser_brand {
  position: relative;
  text-align: center;
  top: -15px;
}

#newuser_form {
  position: relative;
  top: -20px;
}

#newuser_box { 
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   width: 300px;
   height: 280spx; 
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
