body {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat-x repeat-y;
}

div.navbar-inner {
  min-width: 501px;
}

.division{
  display: block;
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(233,233,233);
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  color: rgb(80,80,80);
}


.title{
  line-height: 24px;
}
 
.nav-tabs > li > a {
  color: #777777;
}

.bookPic{
  line-height: 100px;
  float: left;
  width: 80px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
}

.bookPic > img{
  margin: auto;
}

.info1{
  margin-left: 10px;
  display: inline-block;
  max-width: 600px;
}

.bookPic img{
  max-width:100%;
  max-height: 100%;
}

.conditionListSell{
  margin-top: 10px;
  margin-right: 40px;
  float: right;
  display: inline-block;
}

.conditionList{
  margin-top: 10px;
  margin-right: 150px;
  float: right;
  display: inline-block;
}

.buy_btn {
  float: right;
  margin-right: 10px;
  display: inline-block;
}

#isbnForm{
  margin-left: 7px;
  margin-top: 20px;
  display: inline-block;
}

.shoveOver{
  margin-left: 10px;
  margin-right: 10px;
}

#conditionReport{
  display: inline-block;
  float: right;
  margin-right: 100px;
  margin-top: -30px;
  width: 150px;

}

#infoInput{
  display: inline-block;
}

#navbar_brand{
	margin-left: 0;
}

.navbar-search{
	margin-right: 20px;
}

.list_container{
	width: 100%;
	padding: 20px 0;
  margin-bottom: 100px;
}

.post_btn {
  /*display: block;
  position: relative;
  top: -110px;*/
  margin-top: -10px;
	float: right;
	margin-right: 20px;
}

#sell{
	display: none;
  min-width: 1260px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

#logged-message {
  max-height: 200px;
  margin-bottom: 15px;
  overflow-y: auto;
}

.reply-message {
  width: 347px;
}

#messaging-modal .modal-body {
  max-height: 700px;
}

#buy{
	display: block;
  min-width: 900px;
  margin: 0 auto;
}

#book_search{
	margin-top: 40px;
	display: block;
	padding: 10px;
	padding-left: 20px;
}

#list_thumbnails_sell {
	width: 100%;
  list-style: none;
  *zoom: 1;
}

#list_thumbnails_buy {
	width: 100%;
  list-style: none;
  *zoom: 1;
}

#list_thumbnails_input {
	width: 100%;
  list-style: none;
  *zoom: 1;
}

.list_thumbnails:before,
.list_thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.left_buffer{
	margin-left: 10px;
}

.right_text{
	text-align: right;
}

.input_buffer{
	margin: 8px;
}

.input_price_buffer{
	margin-right: 16px;
}

.list_thumbnail {
  background-color: rgb(246,246,246);
	margin: 20px;
	min-height: 100px;
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.post_container{
	min-height: 160px;
	position: relative;
	top: 10px;
}

a.list_thumbnail:hover,
a.list_thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.list_thumbnail > img {
	float: left;
  display: block;
  max-width: 100%;
  margin-right: 20px;
  margin-left: auto;
}

.list_thumbnail .caption {
  padding: 9px;
  color: #555555;
}

#checkbox {
  color: #FF0000;
  background-color: #FF0000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */



/*Create an account*/

#newuser_brand {
  position: relative;
  text-align: center;
  top: -15px;
}

#newuser_form {
  position: relative;
  top: -20px;
}

#password-error {
  display: block;
  position: relative;
  top: 5px;
  text-align: center; 
  color: #B94A48;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}