<!DOCTYPE html>
<html class="main">
  <head>
    <title>Textchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="username" content="{{username}}">
    <meta name="nickname" content="{{nickname}}">


    <!-- Bootstrap -->
    <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/public/bootstrap/css/slider.css" rel="stylesheet" media="screen">
    <link href="/public/css/style.css" rel="stylesheet">


  </head>
  <body>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap-slider.js"></script>
    <script src="/public/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/public/bootstrap/js/bootstrap-popover.js"></script>

    <script src="/public/javascript/listing.js"></script>
    <script src="/public/javascript/classStringList.js"></script>
    <script src="/public/javascript/messaging-modal.js"></script>
    <script src="/socket.io/socket.io.js"></script>



    
    <div class="container">
   		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
    <a href="/" class="brand" id = "navbar_brand" >Textchange</a>
				    <ul class="nav">
				      <li id = "buyTab" class="active"><a href="#" onClick= "return buy()">Buy</a></li>
				      <li id = "sellTab"><a href ="#" onClick="return sell()" >Sell</a></li>
              </ul>
              <ul class = "nav pull-right">
                <li id="messagesBar"><a href="#" id= "messaging-button"><i class="icon-envelope"></i> Messages</a></li>
                <li class="dropdown">
                  <a id = "usernameDropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout" onClick="socket.disconnect();socket=null;">Logout</a></li>
                  </ul>
                </li>
                <li><a id="topRightLogin" href="/login">Login</a></li>
				    </ul>


			</div>
 		</div>
    </div> 

		</div>

<div id = "buy">

    <div id = "book_search">

      <form id="search_form" class="navbar-search pull-left" action="javascript:search()">
      <input id="search" type="text" class="search-query" placeholder="Search by Book, Class or Author..."  data-provide="typeahead" autocomplete="off">
      <script type="text/javascript">
        $('#search').change(function() 
        {
          $('#search_form').submit();
        });
          </script>
      <select id="search_type">
        <option value="All">All</option>
        <option value="Class">Class</option>
        <option value="Title">Title</option>
        <option value="Author">Author</option>
      </select> 

      </form>
      <input id="is_filtered" hidden="true">
      <input id="highlighter_filter" type="checkbox" value="" onclick="addFilters()">
      Contains No Highlighter
      <input id="writing_filter" type="checkbox" value="" onclick="addFilters()">
      Contains No Writing

    </div>


    <div id="hacker-list" class="list_container">
      <span onclick="priceSortButton()" class="sort btn" data-sort="price">Sort by book price</span>
      <span onclick="conditionSortButton()" class="sort btn" data-sort="condition">Sort by book condition</span>
      <span onclick="timeSortButton()" class="sort btn" data-sort="time">Sort by time</span>


        <ul id="list_thumbnails_buy" class="list unstyled">
     
    </ul>
  </div>

</div>

<div id = "sell">


  <div class="list_container">
        <ul id="list_thumbnails_input" class="unstyled">
          <li>
            <div class="list_thumbnail post_container">

              <form id = "newBookForm" class="form-inline" action = "/addbook" method = "post">

                <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
                <div class="fileupload-new thumbnail" style="width: 80px; height: 100px;"><img src="../public/assets/noimage.gif" /></div>
                <div class="fileupload-preview fileupload-exists thumbnail" id="thumbnail_preview" style="width:80px; height: 100px; line-height: 20px;"></div>
                <div>
                  <span class="btn btn-file"><span class="fileupload-new shoveOver">Upload</span><span class="fileupload-exists"><i class="icon-edit" style="margin-left:2px; margin-right:1px;"></i></span><input name = "photo" id="uploadBox" type="file" /></span>
                  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><i class="icon-trash" style="margin-left:2px; margin-right:1px;"></i></a>
                </div>
              </div>

              <div id = "input_form">

                <div id="isbnForm">
                  <div class="input-append">
                    <input class="span2" id="isbnSearch" type="number"placeholder="ISBN_NUMBER"autocomplete="off">
                    <button class="btn" onClick="return autofill()" type="button">Autofill w/ ISBN</button>
                  </div>
                  <i class="icon-info-sign" id="isbn_info"></i>

                </div>
                <br>
                <div id = "infoInput">
                <input name = "title_name" id="title_input" type="text" class="input-medium input_buffer" id="titleSearch" placeholder="Book Title" data-provide="typeahead" autocomplete="off" required>
                <input name = "author" id="author_input" type="text" class="input-medium input_buffer" id="authorSearch" placeholder="Author" data-provide="typeahead" autocomplete="off" required>
                <input name = "class_name" id="classSearch" type="text" data-provide="typeahead" class="input-mini input_buffer" placeholder="Class" autocomplete="off" required>
                
                <textarea name = "description" style= "margin-top:-30px;"class = "input_buffer" placeholder = "Extra information... ex: condition, marks, age etc" rows="3"></textarea>
                </div>

                 <div class= "post_btn">
                <p>
                  <strong>$</strong>
                  <input name = "price" type="number" class="input-mini input_price_buffer" id="price_input" placeholder="Price" required><br><br>
                <button class="btn btn-large btn-primary" type="Submit">Post</button><br><br>
                </p>
                </div>

                <div id="conditionReport">
                <label class="checkbox">
                <input id="highlighter_check" type="checkbox" value="">
                Highlighter
                </label><br>
                <label class="checkbox">
                <input id="writing_check" type="checkbox" value="">
                Writing
                </label><br><strong>Condition:</strong><br>
                <input name="condition" type="text" class="span2" value="3" data-slider-min="1" data-slider-max="3" data-slider-step="1" data-slider-value="2" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide" data-slider-id="condition_color" id="condition_slider">
                <p type="number" class="span2" id="slider_display">OK<p>
                </div>

              </div>
              </form>
            </div>
          </li>
     
    </ul>

    <ul id="list_thumbnails_sell" class="unstyled">
     
    </ul>
  </div>
</div>

<div id="messaging-modal" class="modal hide fade constrict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Messaging</h3>
    </div>
    <div class="modal-body constrictBody">
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs" id="threadList">
                <li class="active"><a href="#" onClick= "loadMessages(CHANGE TO ID OF THREAD)" data-toggle="tab">Calculus this is so long omg <br>Textbook</a></li>
                <li><a href="#" onClick= "loadMessages(CHANGE TO ID OF THREAD)" data-toggle="tab">History Book</a></li>
                <li><a href="#" onClick= "loadMessages(CHANGE TO ID OF THREAD)" data-toggle="tab">Science Book</a></li>
                
              </ul>

              <div class="tab-content">
                <div class="tab-pane active fixstate">
                  <form id = "messageForm" class="form-inline" action = "/sendMessage" method = "post">
                  <textarea id = "messageField" class="reply-message" rows="3" placeholder="Send a reply message..."></textarea>
                  <button class="btn btn-primary" type="submit">Send</button>
                  </form>
                  <div class="logged-message" >
                    <ul id="messageThread">

                    </ul>
                    <p><strong>Seller: </strong>I'm selling for 4 dollars.</p>
                    <p><strong>Me: </strong>Sounds good. Meet at Jo's?</p>
                    <p><strong>Seller: </strong>Sure. 5:20?</p>
                    <p><strong>Seller: </strong>I'm selling for 4 dollars.</p>
                    <p><strong>Me: </strong>Sounds good. Meet at Jo's?</p>
                    <p><strong>Seller: </strong>Sure. 5:20?</p>
                    <p><strong>Seller: </strong>I'm selling for 4 dollars.</p>
                    <p><strong>Me: </strong>Sounds good. Meet at Jo's?</p>
                    <p><strong>Seller: </strong>Sure. 5:20?</p>
                    <p><strong>Seller: </strong>I'm selling for 4 dollars.</p>
                    <p><strong>Me: </strong>Sounds good. Meet at Jo's?</p>
                    <p><strong>Seller: </strong>Sure. 5:20?</p>
                    <p><strong>Seller: </strong>I'm selling for 4 dollars.</p>
                    <p><strong>Me: </strong>Sounds good. Meet at Jo's?</p>
                    <p><strong>Seller: </strong>Sure. 5:20?</p>
                    <p><strong>Seller: </strong>I'm selling for 4 dollars.</p>
                    <p><strong>Me: </strong>Sounds good. Meet at Jo's?</p>
                    <p><strong>Seller: </strong>Sure. 5:20?</p>
                  </div>
                  
                </div>
            </div>
            </div> <!-- /tabbable -->


        
</div>



      



</div>







  </body>
</html>