<!DOCTYPE html>
<html>
  <head>
    <title>Textchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/public/css/style.css" rel="stylesheet">


  </head>
  <body>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/javascript/listing.js"></script>
    
    <div class="container">
   		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
			    <a class="brand" id = "navbar_brand" >Sextchange</a>
				    <ul class="nav">
				      <li class="active"><a href="#">Buy</a></li>
				      <li><a href="#">Sell</a></li>
				    </ul>

			</div>
 		</div>
    </div> 

		</div>

    <div id = "book_search">

      <form class="navbar-search pull-left" action="javascript:search()">
      <input id="search" type="text" class="search-query" placeholder="Search by Book, Class or Author..." >
      </form>

    </div>


    <div id="list_container">

      

        <ul id="list_thumbnails">
          <li>
            <div class="list_thumbnail">
              <img src="../public/assets/testbook.jpeg" alt="" width="80" height="100">
              <h3>Book Title <small> by Author Lastname</small></h3>
              <p>Class: <strong> CS1320 </strong> &emsp; Seller: <strong>Kappi</strong></p>
              <div class= "buy_btn">
                <p>
                <button class="btn btn-large btn-primary" type="button">Buy</button><br><br>
                
                </p>
              </div>
            </div>
          </li>
     
    </ul>

  </body>
</html>