<!DOCTYPE html>
<html class="lander">
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/login_style.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div id="button_tab">
      <a href="/" class="btn btn-large" type="button">Browse without logging in</a>
      <button id="signup_button" class="btn btn-large" type="button" data-toggle="collapse" data-target="#name_tab"><span id="signup_text">Sign up</span></button>
    </div>
    <div class="list_thumbnail" id="login_box">
    <p class="lead" id="login_brand"><i class="icon-book"></i>  Textchange</p>
    <form class="form-horizontal" action="/login" method="post" id="login_form" name="login_form">
      <div class="control-group">
          <input type="email" name = "username" id="inputEmail" placeholder="Your_Name@Brown.edu" required>
      </div>
      <div class="control-group">
          <input type="password" name = "password" id="inputPassword" placeholder="Password" required>
      </div>
      <div id="name_tab" class="collapse">
          <div class="control-group">
              <input type="text" name = "name" id="inputName" placeholder="Name" >
          </div>
        </div>
      <div class="control-group">
          <button type="submit" value = "Log In" class="btn" id="sign_in_button"><span id="button_text">Log in</span></button>
          
      </div>
      <div class="alert alert-error" id="unauthorized" style="display:none;">
            Invalid username or password
          </div>
      <div class="alert alert-error" id="used_email" style="display:none;">
            Your email is already in use
          </div>
    </div>
    
    </form>
  </body>
</html>

<script type="text/javascript">

 window.addEventListener('load', function(){
   document.getElementById("login_form").addEventListener('submit', try_login, false);

});



var login = true; 

$("#signup_button").click(function(event) {
  document.getElementById("unauthorized").style.display = 'none';
  document.getElementById("used_email").style.display = 'none';

  console.log("Pressed button");
  if(login) {
        console.log("no wait here");

    $("#button_text").text("Register");
    $("#signup_text").text("Sign In");
    $("#login_form").attr("action", "/signup");
    $("#inputName").attr("required", "");



    login = false; 

  }
  else {
    console.log("here");
    $("#button_text").text("Log in");
    $("#signup_text").text("Sign up");
    $("#login_form").attr("action", "/login");
    console.log("required");
    $("#inputName").removeAttr("required");

    login = true; 
  }
});

 function try_login(e){
    console.log("in try login")
    e.preventDefault();

    var fd = new FormData(document.getElementById('login_form'));


    var req = new XMLHttpRequest();

    if (login == false)
    {
      req.open('POST', '/signup', true);
    }
    else
    {
      req.open('POST', '/login', true);
    }
    console.log("attempting to add book");

    req.addEventListener('load', function(e){
        console.log("in here");
        var content1 = req.responseText;
        var data1= JSON.parse(content1);
        document.getElementById("login_form").reset();
        if (data1=="authorized")
        {
          window.location.replace("/");
        }
        else 
        {
          if (login == true)
          {
            document.getElementById("unauthorized").style.display = 'block';
          }
          else
          {
            document.getElementById("used_email").style.display = 'block';

          }

        }

    }, false);
    req.send(fd);

 }
</script>